/* Add CSS Styling */

.class1,
.class2 {
    font-size: 28px;
    font-family: 'Helvetica','Times New Roman','sans-serif';
}

.class1 {
    background-color: #000000;
    color: hsl(0,0%,100%)
}

.class2 {
    background-color: #fbff00;
}